[microservices]
;url of the policy service e.g. http://accounts.ccnode.com
account_store_url = ""
;url of the blogic service (optional) e.g. http://blogic.ccnode.com
blogic_service_url = ""

[db]
db[server] = "localhost"
db[name] = "credcom_node"
db[user] = "root"
db[pass] = ""

abs_path = "cctrunk/ccbranch1/ccnode"
;Conversion rate with the parent
conversion_rate = 1.000

[privacy]
;Which types of data can be shared with the rest of the tree.
priv[metadata] = 0
priv[acc_ids] = 1
priv[acc_summaries] = 0
priv[transactions] = 1

[connection]
;Max number of seconds to wait for a response from the downstream ledger.
;This number would be higher, the further away this node is from the trunk.
timeout = ""
;Min number of secs a transaction will remain validated before possibly being erased (not used)
validated_window = 300

[transactions]
;How to convert base units to a string for the user. See the README for more details.
display_format = ''
;Whether payments of zero are valid
zero_payments = 0
;Validate transactions against pending balances.
validate_pending = 1

;Stop on all notices and warnings.
dev_mode=0