[Unit]
Description=Backend Express/NodeJS Service
After=syslog.target network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/sb-web-app-2.0/backend
Environment=NODE_ENV=production
Environment=NODE_VERSION=16.14.0 NODE_ENV=production
ExecStart=/root/.nvm/versions/node/v16.14.0/bin/node /root/sb-web-app-2.0/backend/app.js

Restart=always

[Install]
WantedBy=multi-user.target
